<ul class="nav justify-content-center">
    <li class="nav-item me-3">
        <a href="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item me-3">
        <a href="/auth/render_pass">Update Password</a>
    </li>
    <li class="nav-item me-3">
        <a href="/auth/sign-out">Sign out</a>
    </li>
  </ul>
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <span class="name "><%= user.name %></span>
        <span class="email"><%= user.email %></span>
      </div>
    </div>
    </div>