<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
         <h3>Reset password</h3>
          <form method="post" action="/auth/generate_accessToken" id="rest_pass_form">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <button type="submit" class="btn btn-primary">Generate Link</button>
          </form>
        </div>
    </div>
</div>



