<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">

        <h1>Message Sent</h1>
        <br>
        <br>
        <p>An email with password reset link has been sent to registered email id, Please check your inbox!!</p>
        <br>
        <p>This email is Vaild for only 5 mins</p>
    </div>
  </div>
</div>
