<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
         <h3>Change Password</h3>

          <form method="post" action="/auth/update_password">
           <div class="form-group">
              <label for="email">Email </label>
              <input type="email" name="email" value="<%= user.email %>"
               class="form-control" id="email" readonly="true">
             </div>

           <div class="form-group">
             <label for="password">Password</label>
             <input type="password" name="password" class="form-control" id="password">
           </div>

           <div class="form-group">
             <label for="confirm_password">Confirm Password</label>
             <input type="password" name="confirm_password" class="form-control" id="confirm_password">
           </div>

            <div class="form-group">
              <input type="text" name="accessToken" class="form-control invisible" 
                 id="accessToken" value="<%= userWithAT.accessToken%>" >
            </div>
            <button type="submit" class="btn btn-primary">Change Password</button>
         </form>
      </div>
   </div>
</div>


