<div>
    <p>Hi, <%= userWithAT.user.name %>!</p>
    <br>
    <p>
        This below link will be used to reset the password.
        <strong>This link will be expired in 5 mins.</strong>
    </p>

    <br>
    <h4>Link to reset password: </h4>
    <p>
       
        <a href="http://localhost:8000/auth/verify_key/<%= userWithAT.accessToken %>">reset_key/?accessToken=<%= userWithAT.accessToken %></a>
    </p>

</div>